.Contact {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center;
}

#contact {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}

.Contact div {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  padding: 10px;
}

a {
  color: #449399;
}
