.Footer::before {
  content: '';
  background-color: #313c4e;
  position: absolute;
  height: 50px;
  width: 200vw;
  left: -100vw;
  z-index: -1;
}

.Footer {
  box-sizing: border-box;
  padding: 48px 20px 0 20px;
}
