.Name::before {
  content: '';
  background: linear-gradient(
    180deg,
    rgba(49, 60, 78, 1) 75%,
    rgba(68, 147, 153, 1) 100%
  );
  position: absolute;
  height: 150px;
  width: 200vw;
  left: -100vw;
  z-index: -1;
}

.Name {
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  font-family: 'Montserrat';
  overflow: hidden;
}

#name {
  padding-top: 20px;
  font-size: 33px;
  color: #449399;
}

#title {
  font-size: 20px;
  color: #ffffff;
}
