.Name {
  background-color: #313c4e;
  height: 50vh;
  width: 100%;
  box-sizing: border-box;
  padding: 48px 20px 0 20px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

#name {
  font-size: 33px;
  color: #449399;
}

#title {
  font-size: 20px;
  color: #ffffff;
}

#profilePicture {
  height: 50vh;
  width: auto;
}

@media screen and (min-width: 768px) {
  .Name {
    background-color: #313c4e;
    height: 50vh;
    width: 100%;
    box-sizing: border-box;
    padding: 48px 20px 0 20px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
    grid-auto-flow: column;
  }

  #profilePicture {
    height: 50vh;
    width: auto;
  }
}
