.projects {
  display: grid;
  font-family: 'Open Sans';
  font-size: 16px;
}

#projectOpening {
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: normal;
  padding: 55px 20px 5px 20px;
  margin: 0;
}

#projectOpening a svg {
  visibility: hidden;
}

#projectOpening:hover a svg {
  visibility: visible;
}

#projectOpening::before {
  content: ' ';
  display: block;
}

.projectTitle {
  font-family: 'Montserrat';
  margin: 0;
  padding-left: 20px;
}

.projects img {
  height: auto;
  width: 100%;
  padding: 0 20px 13px 20px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

#projectGallery::before {
  content: '';
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(227, 239, 240, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 1200px;
  position: absolute;
  width: 200vw;
  left: -100vw;
  z-index: -1;
}

.projectButtons {
  display: flex;
  gap: 20px;
}

.githubLink {
  color: #ffffff;
  background-color: #449399;
  height: 43px;
  width: 176px;
  border-radius: 22px;
  border: none;
  font-size: 16px;
}

.demoLink {
  color: #449399;
  background-color: transparent;
  height: 43px;
  width: 131px;
  border-radius: 22px;
  border: 1px solid #449399;
  font-size: 16px;
}

.listProject {
  display: grid;
}

.spacer {
  padding-top: 50px;
}

.projectSummary {
  padding: 0 20px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  #projectGallery::before {
    height: 1585.08px;
  }
  .projectTitle {
    padding: 13px 20px;
  }
  .projectButtons {
    padding: 0 20px 29px 20px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  #projectGallery::before {
    height: 714.219px;
  }

  .listProject {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    grid-template-rows: 50px repeat(3, auto) 1fr;
    grid-template-areas:
      'Image .'
      'Image Title'
      'Image Summary'
      'Image Buttons'
      'Image .';
  }

  .projects img {
    grid-area: Image;
    padding: 30px 0 30px 40px;
    max-width: 50vw;
  }

  .projectTitle {
    grid-area: Title;
    padding-bottom: 0;
    color: black;
  }

  .projectSummary {
    margin-top: 0;
    grid-area: Summary;
  }

  .projectButtons {
    grid-area: Buttons;
    padding: 0 20px;
  }

  .listProjectFlip {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px repeat(3, auto) 1fr;
    grid-template-areas:
      '. Image'
      'Title Image '
      'Summary Image'
      'Buttons Image'
      '. Image ';
  }

  #projectImageFlip {
    grid-area: Image;
    padding: 30px 40px 30px 0;
    max-width: 50vw;
  }
}

@media screen and (min-width: 812px) and (max-width: 1024px) {
  #projectGallery::before {
    height: 1099.47px;
  }
}

@media screen and (min-width: 1025px) {
  #projectGallery::before {
    height: 1239.2px;
  }
  .listProject {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    grid-template-rows: 50px repeat(3, auto) 1fr;
    grid-template-areas:
      'Image .'
      'Image Title'
      'Image Summary'
      'Image Buttons'
      'Image .';
    /* background: linear-gradient(
      90deg,
      rgba(68, 147, 153, 1) 0%,
      rgba(255, 255, 255, 1) 60%
    ); */
  }

  .projects img {
    grid-area: Image;
    padding: 13px 0 13px 40px;
    max-width: 50vw;
  }

  .projectTitle {
    grid-area: Title;
    padding-bottom: 0;
    color: black;
  }

  .projectSummary {
    margin-top: 0;
    grid-area: Summary;
  }

  .projectButtons {
    grid-area: Buttons;
    padding: 0 20px;
  }

  .listProjectFlip {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px repeat(3, auto) 1fr;
    grid-template-areas:
      '. Image'
      'Title Image '
      'Summary Image'
      'Buttons Image'
      '. Image ';
    /* background: linear-gradient(
      270deg,
      rgba(68, 147, 153, 1) 0%,
      rgba(255, 255, 255, 1) 60%
    ); */
  }

  #projectImageFlip {
    grid-area: Image;
    padding: 13px 40px 13px 0;
    max-width: 50vw;
  }
}
